<div data-controller="converter">
    <form data-action="submit->converter#convert">
        <input data-converter-target="amount" type="number" value="1" oninput="this.form.requestSubmit()">
        <select data-converter-target="from" onchange="this.form.requestSubmit()">
            <% @currencies.each do |currency| %>
                <option value="<%= currency['iso_code'] %>">
                     <%= currency['name'] %> (<%= currency['iso_code'] %>) 
                </option>
            <% end %>
        </select>
        <select data-converter-target="to" onchange="this.form.requestSubmit()">
            <% @currencies.each do |currency| %>
                <option value="<%= currency['iso_code'] %>">
                    <%= currency['name'] %> (<%= currency['iso_code'] %>)  
                </option>
            <% end %>
        </select>
        <button type="submit">Convert</button>
    </form>
    <p data-converter-target="result"></p>
</div>